.panelcontainer {
	z-index: 90;
    border-style: solid;
    border-color: rgb(32, 32, 32);
    border-width: 1pt;
    background: #E6E6E6;

    /*Do not allow select text*/
    -moz-user-select:  -moz-none; /* for Firefox */
    -webkit-user-select: none; /* for Chrome */    
}

.toppanel {
    top: 0px;
}

.leftpanel {
	cursor: default;
	top: 76px;
    left: 0px;
    width: 240px; /*230 + collpasebar*/
    position: absolute;
    
    z-index: 85;
}

.rightpanel {
	cursor: default;
	top: 76px;
	right: 0px;
	width: 280px; /*270 + collpasebar*/
	position: absolute;
		
    z-index: 85;
}

.CollapseImage {
	left: 0px;
}

/*-------------------different styles for different views--------------*/
.bottompanel {
	cursor: default;
	bottom: 0px;
	height: 137px; 
    width: 100%;
	position: absolute;
}

.bottompaneldetail {
	cursor: default;
	bottom: 0px;
    height: 182px;
    width: 100%;
    position: absolute;
}

.bottompaneldescriotion {
	cursor: default;
	bottom: 0px;
    height: 178px;
    width: 100%;
    position: absolute; 
}

.bottompaneldetaildescriotion {
	cursor: default;
	bottom: 0px;
    height: 223px;
    width: 100%;
    position: absolute; 
}

.bottompanelcollapse {
    height: 20px;
}
/*--------------------------------------------------------------------*/

.panel {
	overflow-x: auto;
	overflow-y: hidden;
}

#slideout {
	position: fixed;
	top: 300px;
	left: 0;
	background: rgb(149, 149, 149);
	width: 20px;
	padding: 2px 0 2px 0;
    border-style: solid solid solid none;
    border-color: rgb(96, 96, 96);
    border-width: 1pt;
    border-radius: 0 4pt 4pt 0;	
	text-align: left;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	z-index: 90;
	box-shadow: 2px 2px 2px #666
}

.annotation-button {
	cursor: pointer;
	line-height: 15px;
	opacity: 0.75;
	margin-left:8px; 
	margin-right:8px; 
	margin-top:4px; 
	margin-bottom:8px;
    float:left;
}

.annotation-button:hover {
    opacity:1;
	border-top-color: #E9E9E9;
	border-bottom-color: #7B7B7B;
	border-left-color: #E2E2E2;
	border-right-color: #999;}
	
.annotation-button-36x36 {
	width: 36px;
	height: 36px;
}

.annotation-button-44x36 {
    width: 44px;
    height: 36px;	
}

#doubleHeaderedCheckbox {
	float: left;
}

#haloCheckbox {
	float: left;
	margin-top: 16px;
}

#keepOnTopCheckbox {
	float: left;
	margin-top: 2px;
}

#AnnotationPanel input, textarea, .select {
    border: 1px solid #555;
    padding: 0.25em;
    font-size: 14px;
    line-height: 1.0em;
    color: initial;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.2em;
    width:60px;
}
#AnnotationPanel .colorpicker input{
    width: 26px;
    height: 10px;
}
#AnnotationPanel .colorpicker .colorinputlabel{
    padding-left: 0px;
    padding-right: 0px;
}
#AnnotationPanel input[type=checkbox] {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 0.25em .5em 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.25em;
    vertical-align: text-top;
}
#AnnotationPanel input[type=checkbox]:checked {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAEkSURBVDhPjZIxj4JAEIX5TXKJIEI8ocHEitKCMyFeSyjoab14oaCzoaDxH1AZC1poSCjQAA3wM97dYtzLJhdly5n59r28GY4b+Zqmgeu64N94TPgJRmIcF0URZtJsgEaDWZZRJQIt3hevFa/XK7bbD6pEwK/9/jnYdR2CIIAgChS0LAt1Xd/BOI7heR5utxvzU57n0DSNQqqqgtgeoNPpBFEUh6Zt2yiKYmiQFHefOwpNhSl830fbtnfQNE3GPxlO0xTfhwNTJxbLsvxzRKRlWWaGdF2HJEm0Np/PqRNmf0mSwDAMJvLHvsjuwjD8P8W+73E+n7FerxllciWO46CqqufxE9uKolB4qS5xuVxeL5v4J7Y3mw1WqxWOx+M4aPTh/g7+AC9I2nrJ3N39AAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 10px 10px; /*shrink high resolution background */
}
#AnnotationPanel input[type=checkbox]:disabled {
    opacity: 0.4;
}
#AnnotationPanel input[type=radio] {
    display: inline-block;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 0.25em .5em 0;
    padding: 0;
    width: 1.25em;
    height: 1.25em;
    -webkit-border-radius: 0.625em;
    vertical-align: text-top;
    
}
#AnnotationPanel input[type=radio]:checked {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAA9SURBVChTY2AgB8yZM+e/qqoqGIPYWM2AKUCnURQjm4SuEMVkXKbBxOGmEq2QaKtBRhPlGZgbiAoeQuEOAEA+VYHa1G+wAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 10px 10px; /*shrink high resolution background */
}
#AnnotationPanel input[type=radio]:disabled {
    opacity: 0.4;
}

.panelimagebuttondimension {
    margin-left: 4px;
    margin-right: 4px;
    width: 40px;
    height: 40px;
}

#Panel_toolbar_EditDocument {
	position: absolute;
	top: 46px;
	left: 0px;
    background: rgb(205, 205, 205);
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	z-index: 90;
}

.fancybox-border {
    display: inline-block;
    width: 38px;
    height: 36px;
    border-style: solid;
	border-width: 0px 1px 0px 1px;
	border-top-color: #D0D0D0;
	border-bottom-color: #575757;
	border-left-color: #B5B5B5;
	border-right-color: #6C6C6C;
	color: black;
	float: left;
	background-image: -webkit-linear-gradient(top, #C2C2C2, #7D7D7D);
	background-image: -moz-linear-gradient(top, #C2C2C2, #7D7D7D);
	background-image: -moz-linear-gradient(to bottom, #C2C2C2, #7D7D7D);
}

.fancybox-button {
	width: 24px;
	height: 24px;
	cursor: pointer;
	line-height: 15px;
	opacity: 0.75;
	margin-left:7px; 
	margin-right:7px; 
	margin-top:6px; 
	margin-bottom:6px;
    float:left;
}

.fancybox-border:hover {
    opacity:1;
    background-image: -webkit-linear-gradient(top, #E6E6E6, #A9A9A9);
	background-image: -moz-linear-gradient(top, #E6E6E6, #A9A9A9);
	background-image: -moz-linear-gradient(to bottom, #E6E6E6, #A9A9A9);
	border-top-color: #E9E9E9;
	border-bottom-color: #7B7B7B;
	border-left-color: #E2E2E2;
	border-right-color: #999;}
    
#slideout_inner {
	position: fixed;
	top: 80px;
	left: -240px;
    border-style: solid solid solid none;
    border-color: rgb(96, 96, 96);
    border-width: 1pt;
    border-radius: 0 4pt 4pt 0; 
    /*background: #6DAD53;*/
	background: rgba(204, 204, 204, 0.75);
	box-sizing: border-box;
	width: 240px;
	height: 650px;
	padding-top: 5px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	z-index: 90;
	box-shadow: 2px 2px 2px #666
}

#slideout:hover {
	left: 240px;
}

#slideout:hover #slideout_inner {
	left: 0;
}

.OKButton{
    margin-right: 10px;
}

.panel_footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.dialogbutton_container {
    width: 240px;
    left: 20px;
    position: relative;
    display: table;
    top: -10px;
}

.dialogbutton_container .RegularButtonDimensions {
    width: auto;
    height: 20px;
}

.ContextPanelMask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0.15;
  background-color: whiteSmoke;
}

/*-----properties filter panel begin------------------------------------------*/
.propertiesfilterpanel {
    position: relative;
    width: 100%;
    height: 100%;
}

.propertiesfilter_allpropertiescontainer {
    height: 400px;
    width: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    border-style: solid;
    border-width: 1pt;
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 20px;
    top: -20px;
}

.propertiesfilter_disabledstyle {
    background-color: rgba(192, 192, 192, 0.6);
    z-index: 100;
    -webkit-filter: blur(0px) grayscale(1);
    pointer-events: none;
}

.propertiesfilter_allproperties {
	height: auto;
	width: auto;
}
.propertiesgrouptreenode {
	height: 16px;
	width: 100%;
}
.propertiesnametreenode {
    height: 16px;
    width: 100%;
    padding-left: 32px;
    float: left;
}
.treenodetext {
	height: 16px;
    text-align: left;
    font-size: 12px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 16px;
    text-indent: 4px;
    overflow: hidden;
    float: left;
}
.propertiesfilter_disabledstyle .treenodetext {
    color: #777777;
}
.propertiesfilterpanelbutton {
    border: 0px;
    background-color: transparent;
    color: black;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 4px 0 4px;
    padding: 0 1px 0 1px;
    display: table-cell;
    cursor: pointer;
}
.propertiesfilterpanelbutton:hover {
    background-color: #777777;
    color: #eeeeee;
}
.propertiesfilterpanelbutton_disabled {
    background-color: transparent;
    color: #777777;
    cursor: default;
    pointer-events: none;
    border: 0px;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0 4px 0 4px;
    padding: 0 1px 0 1px;
    display: table-cell;
}

/*-----properties filter panel end------------------------------------------*/

/*-----general settings panel begin-------------------------------------------*/
.generalsettingspanel {
    position: relative;
    width: 100%;
    height: 100%;
}
.generalsettingspanel .Accordion div.AccordionItem {
	margin-left: 0px;
	margin-right: 8px;
}
.generalsettingspanel .Accordion div.AccordionItem div.AccordionItemContent {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}
.generalsettingspanel .panelcaption {
	margin-left: 15px;
}
#backgroundoption {
    display: table;
    height: 25px;
    width: 100%;
}
.backgroundoption_label {
    max-width: 100px;
    width: 100px;
    text-align: left;
    display: table-cell;
}
#background_labeloptionid {
    opacity: 0.8;
    background-color: #cccccc;
}
#restoretodefaultbackground .RegularButtonDimensions {
    width: 150px;
}
#background_labeloptionid {
    width: 150px; 
    display: table-cell;
}
.backgroundcheck_label {
    width: 100%;
    text-align: left;
}
.backgroundoptionlabel {
    width: 100%;
    height: 25px;
    text-align: left;
}
.backgroundoptioncontent {
    width: 100%;
}
/*-----general settings panel end---------------------------------------------*/

/*-----components settings panel begin----------------------------------------*/
.componentssettingspanel {
    position: relative;
    width: 100%;
    height: 100%;
}
.componentssettingspanel .Accordion div.AccordionItem {
    margin-left: 4px;
    margin-right: 4px;
}
.componentssettingspanel .Accordion div.AccordionItem div.AccordionItemContent {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
}
.componentssettingspanel .panelcaption {
    margin-left: 15px;
}
.restoretodefaultRegularButtonDimensions {
    width: 150px;
}
/*-----components settings panel end---------------------------------------------*/

/*-----panel tooltip begin----------------------------------------*/
.tooltip-body {
    padding: 2px; 
    border: 1px solid #E2E2E2;
    border-radius:3px;
    box-shadow: 1px 1px 1px #888888;
    background-color: #eeeeee;
    position:fixed;
    min-width: 10px; 
    max-width: 400px;
    min-height: 10px; 
    max-height: 900px;
    word-wrap: break-word;
    display: none;
    z-index: 9999;
    line-height: 14px;
}
.tooltip-title {
    font-size: 11px;
    font-weight: bold;
    outline: 0; 
}
.tooltip-message {
	font-size: 11px;
    outline: 0; 
}
.tooltip-expansion {
    font-size: 11px;
    outline: 0; 
    display: none;
}
/*-----panel tooltip end---------------------------------------------*/
