/*-----scroll bar-------------------------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: rgba(89,89,89,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    cursor:move;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(171,213,251,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(89,89,89,0.4); 
}
::-webkit-scrollbar-corner {
    background-color:transparent;
}

body
{
    background: #A9A9A9; /*TP1 does not support gradient*/
	
	/*Do not allow select text*/
	-moz-user-select:  -moz-none; /* for Firefox */
	-webkit-user-select: none; /* for Chrome */
}

#menu
{
	cursor: default;
	height: 38px;
	vertical-align:middle;
    font-family: Consolas, Courier;
    font-size: 14px;
	color: #40bfff;
}

.menuicons
{  
position:static;
vertical-align:baseline;
}

#toolbar
{
	background: rbga(183,197,204,0.75);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,197,204,0.25)), color-stop(25%,rgba(218,225,229,0.5)), color-stop(75%,rgba(230,238,242,0.35))); /* Chrome */
	background: -webkit-linear-gradient(top, rgba(183,197,204,0.25) 0%,rgba(218,225,229,0.5) 25%,rgba(230,238,242,0.35) 75%); /* Chrome10+ */
}

#toolbar, .toolbar
{
  display: inline-block;
  width: auto;
  position: absolute;
}

.logo
{
    width: 130px;
    height: 30px;
}

.viewport
{    
    background: #A9A9A9; /*TP1 does not support gradient*/
}
.viewcontent
{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

/*-----overwrite hickory mainwindow setting begin----------------------------*/
.MainWindowHeader
{
    width: 100%;
    height: 40px;
    min-height: 40px;
    margin: 0px;
    padding: 0px;  
}

.MainWindowHeaderPanel {
position: relative;
width: 100%;
height: 40px;
}
/*-----overwrite hickory mainwindow setting end------------------------------*/

/*-----banner begin----------------------------------------------------------*/
#Header 
{
	cursor: default;
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #0F0F0F;
    border-width: 1pt;
    border-color: #000000;
    display: table;
}
#Header_Left
{
    position: relative; 
    top: 0px; 
    padding-left: 12px;
    height: 40px;
    width: auto;
    display: table-cell;
    vertical-align: middle;
}
#Header_Right
{
    font-size: 12px;
    font-weight: normal;
    font-family: Arial;
    position: relative;
    float: right;
    width: auto;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}
.Header_Buttons
{
    min-width: 50px;
    padding-right: 20px;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
}
#autodesk360logo
{
    vertical-align: middle;
    display: table-cell;
}
#publisherlogo
{
    width: auto;
    height: auto;
    padding-left: 5px;
    vertical-align: middle;
    display: table-cell;
}
#SignInButton
{
    color: #6699FF;
    cursor: default;
}
#CommunityButton
{
    color: #CCCCCC;
    cursor: pointer;
}
#HelpButton
{
    color: #CCCCCC;
    cursor: default;
}

.headermenu
 {
    float: right;
    position: absolute;
    right: auto;
    top: 36px;
    border: 1px;
    border-style: solid;
    width: auto;
    min-width: 145px;
    background: rgb(15, 15, 15);
    border-color: #7B7B7B;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.65);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.65);
    font: 12px Arial;
    color: #ffffff;
    text-align: left;
    text-indent: 5px;
    display: none;
    z-index: 4444;
}

.Header_Buttons:hover .headermenu
{
    display: block;
}

.Header_Buttons:hover #helpmenu
{
    display: block;
    right: 5px;
}

.headermenuitem
{
    height: 24px;
    margin: 4px;    
    line-height: 24px;
}
.headermenuitem:hover
{
    background: #4a80c3; /* Old browsers */
    background: -moz-linear-gradient(top, #4a80c3 0%, #355a88 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a80c3), color-stop(100%,#355a88)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4a80c3 0%,#355a88 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4a80c3 0%,#355a88 100%); /* Opera 11.10+ */
    
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.85);    
    
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
}
.seperator
{
    border-top:1px solid #474747; 
    height: 0px;
    margin-left: 4px;
    margin-right: 4px;
    width: auto;
}

.bannermenuarrow
{
    position: relative;
    top: -2px;
    left: 5px;
}
/*-----banner end------------------------------------------------------------*/

#hidetoolbar:active
{
    src="apps/hickory/res/button_down_active.png";
    }

/* <----- Drop Down ------> */

.dropdown_1column
 {
	background: rgba(0,0,0,0.85);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(100%,rgba(25,25,25,0.95))); /* Chrome */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.85) 0%,rgba(25,25,25,0.95) 100%); /* Chrome10+ */
}

.col_1
{
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
    }
    
.col_1 {width:260px;}

.menu_item{ padding: 0px 15px; }

/* <----- Busy Dialog ------> */

.BusyDialog
{
	position:absolute;
	z-index:4000;
	padding: 0px;
	top: 40px;
	bottom: 0px;
	height:100%;
	width:100%;
	backgroundcolor:rgba(89,89,89);
	min-height:175px;		
	left: 0;                  /* set left and right to the same value! */
	right: 0;
	margin-left: auto;        /* adding auto-margins left and right will
						center the element horizontally!*/
	margin-right: auto;
	
	-webkit-border-radius: 10px; /* Safari prototype */
	-moz-border-radius: 10px; /* Gecko browsers */
	border-radius: 1px; /* Everything else - limited support at the moment */
    
    border: 1px solid #aaaaaa;
    
	opacity: 0;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(20%,#e8e8e8), color-stop(50%,#e1e1e1), color-stop(100%,#f8f8f8)); /* Chrome */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #e8e8e8 20%, #e1e1e1 50%, #f8f8f8 100%); /* Chrome10+ */
	background: -o-linear-gradient(top, #f1f1f1 , #f8f8f8); /* Opera */
	background: -moz-linear-gradient(top,  #f1f1f1,  #f8f8f8); /* Firefox */ 
	
	vertical-align: middle;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.BusyDialogControls
{
	position:absolute;
	z-index:4000;
	padding: 20px;
	top: -40px;
	bottom: 0px;
	height: 149px;
	margin-top: auto;
	margin-bottom: auto;
	width: 200px;
	min-height: 175px;
	left: 0px;                  /* set left and right to the same value! */
	right: 0px;
	margin-left: auto;        /* adding auto-margins left and right will
						center the element horizontally!*/
	margin-right: auto;
	-webkit-border-radius: 10px; /* Safari prototype */
	-moz-border-radius: 10px; /* Gecko browsers */
	border-radius: 10px; /* Everything else - limited support at the moment */
    border: 1px solid #aaaaaa;
	opacity: 0.85;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(20%,#e8e8e8), color-stop(50%,#e1e1e1), color-stop(100%,#f8f8f8)); /* Chrome */
	background: -webkit-linear-gradient(top, #f1f1f1 0%, #e8e8e8 20%, #e1e1e1 50%, #f8f8f8 100%); /* Chrome10+ */
	background: -o-linear-gradient(top, #f1f1f1 , #f8f8f8); /* Opera */
	background: -moz-linear-gradient(top,  #f1f1f1,  #f8f8f8); /* Firefox */ 
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
}

.BusyDialog-Image
{
width: 100%;
height:128px;
background-image: url('common/loading.gif');
background-position: center center ;
background-repeat: no-repeat;
}

.BusyDialogControls #DialogText
{
    position:relative;
    margin-top:auto;
    margin-bottom:auto;

    color: #333333;
    font-size:12px;
    text-align:center;
}

.RegularButtonDimensions {
    width: 100px;
    height: 24px;
}

.cloud-button {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: hidden;
    color: #2a2a2a;
    /*background: #d8d8d8 url(./res/common/ui-button.png) repeat-x left top;*/
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #d2d2d2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc),
        color-stop(100%, #d2d2d2) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #d2d2d2 100%);
    /* Chrome10+,Safari5.1+ */
    border: 1px solid #909090;
    border-bottom-color: #9e9e9e;
    font-size: 12px;
    -moz-box-shadow: 0 1px 0 rgba(217, 217, 217, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(217, 217, 217, 0.05);
    box-shadow: 0 1px 0 rgba(217, 217, 217, 0.05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.cloud-button-disabled {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    cursor: default;
    text-align: center;
    zoom: 1;
    overflow: hidden;
    color: #999999;
    background: #cccccc;
    border: 1px solid #909090;
    border-bottom-color: #9e9e9e;
    font-size: 12px;
    -moz-box-shadow: 0 1px 0 rgba(217, 217, 217, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(217, 217, 217, 0.05);
    box-shadow: 0 1px 0 rgba(217, 217, 217, 0.05);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    pointer-event: none;
}

.cloud-button:hover {
    border-color: #2D51BC;
    outline-color: #9AABDF background:  #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff),
        color-stop(100%, #e0e0e0) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    /* Chrome10+,Safari5.1+ */
}

.cloud-button:active {
    border-color: #2D51BC;
    outline-color: #9AABDF background:  #e0e0e0; /* Old browsers */
    background: -moz-linear-gradient(top, #e0e0e0 0%, #c0c0c0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0e0e0),
        color-stop(100%, #c0c0c0) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e0e0e0 0%, #c0c0c0 100%);
    /* Chrome10+,Safari5.1+ */
}

.cloud-button:focus {
	border:2px solid #499bea;
	outline:none;
}

/* http://css-tricks.com/css-media-queries/ */
@media screen and (max-width: 520px) {
	.leftpanel {
	   display: none;
	}
	
	#publishertoolbarrightbottomcontainer {
        display: none;
    }
}

@media screen and (max-width: 280px) {
    .rightpanel {
       display: none;
    }
}

 @media screen and (max-height: 375px) {
    .bottompaneldetaildescriotion {
        display: none;
    }
}

 @media screen and (max-height: 350px) {
    .bottompaneldescriotion {
        display: none;
    }
}

 @media screen and (max-height: 330px) {
    .bottompaneldetail {
        display: none;
    }
}

@media screen and (max-height: 335px) {   
    .bottompanel {
        display: none;
    }
}

@media screen and (max-height: 195px) {
	.TabToolbar {
       display: none;
    }
    
    .rightpanel {
       display: none;
    }
    
    .leftpanel {
       display: none;
    }
    
    #publishertoolbarrightbottomcontainer {
        display: none;
    }
}

@media screen and (max-height: 120px) {
    #ToolPanel {
        display: none;
    }
}

@media screen and (max-height: 100px) {
    #MenuBG {
        display: none;
    }
    
    #menu {
        display: none;
    }
}
.errormessage-wrapper {
    display:block;
    border:solid 1px rgba(0,0,0,0.5);
    background-image: linear-gradient(top, #f8f8f8 0%, #f3f3f3 60%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0, #f8f8f8),
        color-stop(1.0, #e3e3e3)
    );
    background-image:-moz-linear-gradient(top,  #f1f1f1,  #f8f8f8);
    color: #000000;
    border-radius:4px;
   	z-index:4000;
   	position: absolute; 
   	width:362px;
   	height:210px;
}
.errormessagedialogcaption {
    height:24px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    
    background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #d2d2d2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc),
        color-stop(100%, #d2d2d2) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #d2d2d2 100%);
    border-bottom: 1px solid #AFAFAF;
    border-top:1px inset #E6e6e6;
    font-size: 13px; font-family:Arial;
    color:#1e1e1e;
    padding-top:5px;
    padding-left:5px;
}
.errormessageTitle {
    text-align:left;
    background:transparent;
    color:#1e1e1e;
    font-size:13px;
    font-weight:bold;
    font-family:Arial;
}
.errormessageContent {
    text-align:left;
    background-color:#DEDEDE;
    min-height:64px;
    max-height:128px;
    min-width:390px;
    max-width:710px;
    line-height: 20px;  
}
.messageTypeImage{
    width:48px;
    height:48px;
    float:left;
    margin: 5px 5px 5px 5px;
}
.messageText {
    color:#1e1e1e;
    font-size:12px;
    font-family:Arial;
    margin-left:60px;
	min-width:380px;
    max-width:700px;
}
.messageOption {
    color:#1e1e1e;
    font-size:12px;
    font-family:Arial; 
}

.errorMessageDialogButton {
    display: block;
    text-align:center;
    box-shadow: 0px 1px 1px #d9d9d9;
    border-radius:2px;
    margin-left:10px; margin-right:0px;
    margin-bottom:0px;margin-top:15px;
    font-size:11px;
    font-family:Arial;
    cursor:pointer;
    color:#2A2A2A;
    text-shadow: 0 1px 1px #F2F2F2;
    line-height:11px;
    min-width:45px;
    float: left;
}

.errorMessageContentGroup{
	padding-top: 10px; 
	padding-left: 20px; 
	padding-right: 20px;
	padding-bottom: 10px;
}
.errorMessageDialogCloseButton{
	position: absolute; 
	top: 5px; 
	right: 5px; 
	margin-bottom: 5px;
	opacity: 0.3;
}
.errorMessageDialogCloseButton:hover {
	opacity: 1;
}
.errormessagebuttons {
    float: right;
}

/*-----colorpicker begin------------------------------------------------------*/
.colorpicker
{

}
.colorpreviewbar
{
    width: 240px;
    height: 24px;
    border-style: solid;
    border-color: #000000;
    border-width: 1pt 1pt 0 1pt;
    background: rgb(207, 207, 207);
}
.colorpreview
{
    width: 40px;
    height: 16px;
    border-width: 1pt;
    border-style: solid;
    border-color: #000000;
    margin-left: 2px;
    margin-top: 3px;
    float: left;
}
.colorpreviewvalue
{
    width: auto;
    height: 20px;
    display: table;
    float: left;
    margin-top: 3px;
    padding-left: 2px;
}
.colorpreviewopacity30
{
    background-image: url('colorpicker/opacity_30.png');
}
.colorpreviewopacity5
{
    background-image: url('colorpicker/opacity_5.png');
}
.colorpreviewopacity0
{
    background-image: none;
}
.colorpreviewopacity100
{
    background-image: none;
}
.colorinput
{
    width: auto;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding-right: 1px;
    display: table-cell;
}
.colorinputdisabled
{
    background-color: rgb(224, 224, 224);
    pointer-events: none;
}
.colorinputlabel
{
    width: 14px;
    height: 18px;
    padding-left: 1px;
    padding-right: 1px;
    line-height: 18px;
    float: left;
}
.colorinputeditor
{
    width: 28px;
    height: 12px;   /*NOT SURE*/
    text-align: right;
    border-style: inset;
    border-width: 2px;
    float: left;
}
.editorerrorstate
{
    border-color: red;
    color: red;
}
.colorpallet
{
    border-style: solid;
    border-color: #000000;
    border-width: 1pt;
    width: 240px;
    height: 156px;
    overflow: hidden;
}
.colorpalletnormalcolorrow
{
    width: 240px;
    border-style: none;
    background: #CFCFCF;
    display: table;
    height: 13px;
}
.colorpalletcolortableleft
{
    width: 20px;
    height: 13px;
    padding-left: 3px;
    display: table-cell;
}
.colorpalletcolortableright
{
    width: 220px;
    height: 13px;
    display: table-cell;
}
.colorpalletcolorcell
{
    width: 10px;
    height: 11px;
    border-width: 1px;
    border-style: solid;
    border-color: #CFCFCF;
    cursor: pointer;
    display: table-cell;
}
.colorpalletcolorcell:hover
{
    border-color: #FFFFFF;
}
.colorpalletnormalcolorcell
{
    width: 11px;
    height: 11px;
    border-width: 1px;
    border-color: #CFCFCF;
    border-style: solid;
    cursor: pointer;
    display: table-cell;
}
.colorpalletnormalcolorcell:hover
{
    border-color: #FFFFFF;
}
.colorgraph
{
    width: 240px;
    height: auto;
    border-style: solid;
    border-color: #000000;
    border-width: 1pt;  
}
.colorselectgraph
{
    background: url("colorpicker/base.png") no-repeat;
    width: 160px;
    height: 160px;
    border-style: none solid none solid;
    border-width: 1pt;
    border-color: #CFCFCF;
    float: left;
}
.colorselectbar
{
    background: url("colorpicker/colorbar.png") no-repeat;
    width: 10px;
    height: 160px;
    border-style: none solid none solid;
    border-width: 4pt;
    border-color: #CFCFCF;
    float: left;
    background-color: #CFCFCF;
}
.colorgraphcolorvalue
{
    width: auto;
    height: 160px;
    display: table-cell;
    background-color: #CFCFCF;
    vertical-align: middle;
}
.colorgraphcoloreditor
{
    width: 100%;
    height: 18px;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;    
    margin-top: 4px;
    margin-bottom: 4px;
    display: table;
}
.colorgraphinputlabel
{
    width: 18px;
    height: 14px;
    display: table-cell;
}
.colorgraphinput
{
    width: 40px;
    height: 14px;
    display: table-cell;
}
.colorgraphhpointer
{
    background: url("colorpicker/hpointer.png");
    width: 24px;
    height: 9px;
    position: absolute;
}
.colorgraphhpointer:hover
{
    cursor:pointer;
}
.colorgraphsvpointer
{
    background: url("colorpicker/svpointer.png");
    width: 17px;
    height: 17px;
    position: absolute;
}
.colorgraphsvpointer:hover
{
    cursor:pointer;
}
.basicwindowscolorrow
{
    display: table;
    height: 40px;
}
.colorwindowscolorcell
{
    width: 57px;
    height: 38px;
    line-height: 38px;
    border-style: solid;
    border-width: 1pt;
    border-color: #CFCFCF;
    display: table-cell;
    font-size: 12px;
    font-weight: normal;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: normal;
}
.colorwindowscolorcell:hover
{
    border-color: #000000;
    white-space: normal;
}
.colorpickermenu
 {
    float: right;
    position: relative;
    left: auto;
    right: auto;
    top: -1px;
    border: 1px;
    border-style: solid;
    width: 130px;
    background: #CFCFCF;
    border-color: #7B7B7B;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: left;
    text-indent: 5px;
    display: none;
    box-shadow: 0px 2px 4px 0px rgba(127, 127, 127, 0.65);
    -moz-box-shadow: 0px 2px 4px 0px rgba(127, 127, 127, 0.65);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(127, 127, 127, 0.65);  
    z-index: 4444;
    padding-left: 1px;
    padding-right: 1px;
    white-space: normal;
}
.colorpickermenubutton
{
    width: 22px;
    height: 100%;
    float: right;
    cursor: pointer;
}
.colorpickermenubutton:hover
{
    background: #F0F1F2; /* Old browsers */
    border-radius: 2px;
}
.colorpickermenubuttonimage
{
    background: url("colorpicker/ArrowDownside.png") no-repeat;
    width: 16px;
    height: 16px;
}
#colorpickermenubutton:hover .colorpickermenu
{
    display: block;
}
.colorpickermenuitem
{
    text-indent: 10px;
    height: 18px;
    line-height: 18px;
}
.colorpickermenuitem:hover
{
    background: #F0F1F2; /* Old browsers */
    background: -moz-linear-gradient(top, #F0F1F2 0%, #E0E1E2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0F1F2), color-stop(100%,#E0E1E2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F0F1F2 0%,#E0E1E2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F0F1F2 0%,#E0E1E2 100%); /* Opera 11.10+ */    
    border-radius: 2px;
    cursor: pointer;
}
.colorpickermenuitemdisabled
{
    color: gray;
    pointer-events: none;
}
.colorpickerdisabled
{
    pointer-events: none;
}
.lineseperator
{
    border-left:1px solid #474747; 
    height: 20px;
    width: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
}
.colorpickermenuitemchecked
{
    background: url("colorpicker/Checked.png") no-repeat;
    height: 16px;
    width: 16px;
}
.colorpickermenuitemunchecked
{
    height: 16px;
    width: 16px;
}
.opacitymenu
{
    float: right;
    position: relative;
    left: auto;
    right: auto;
    top: -1px;
    border: 1px;
    border-style: solid;
    width: 130px;
    background: #CFCFCF;
    border-color: #7B7B7B;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    text-align: left;
    text-indent: 5px;
    box-shadow: 0px 2px 4px 0px rgba(127, 127, 127, 0.65);
    -moz-box-shadow: 0px 2px 4px 0px rgba(127, 127, 127, 0.65);
    -webkit-box-shadow: 0px 2px 4px 0px rgba(127, 127, 127, 0.65);
    z-index: 4444;
    padding-left: 1px;
    padding-right: 1px;
    white-space: normal;
    display: none;
}
#opacitycolorbutton:hover .opacitymenu
{
    display: inline-block;
}
.opacityimage
{
    height: 18px;
    width: 18px;
    background: url("colorpicker/TransparentButton.png") no-repeat;
}
/*-----colorpicker end--------------------------------------------------------*/

/*-----toolbar begin----------------------------------------------------------*/
.cameracmds
{
    height: 40px;
    min-height: 40px;
    padding-top: 0px;
}
.cameracmds .button
{
    margin: 5px 1px 1px 1px;
    width: 32px;
    height: 32px;
    position: relative;
}
.cameracmds .button-active
{
    margin-top: 4px;
    background-color: rgba(154, 154, 168, 0.45);
    border: inset 1px #cccccc;
    cursor: pointer;
}

#publishertoolbarrightbottom
{
    position: absolute;
    z-index: 200;
    display: table;
    border-width: 1px;
    border-color: rgb(128, 128, 128);
    -webkit-box-shadow:  0px 2px 2px 2px rgba(64, 64, 64, 0.6);
    box-shadow:  0px 2px 2px 2px rgba(64, 64, 64, 0.6);
}
.publisherexpandedviewtoolbar
{
	width: auto;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: rgb(224, 224, 224);
	display: table-cell;
}
.publishertoolbartoggle
{
	width: 20px;
	height: 40px;
    display: table-cell;
    cursor: pointer;
    vertical-align: middle;
}
.lefttoggle
{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #e0e0e0 0%, #808080 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#e0e0e0), color-stop(100%,#808080)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #1e5799 0%,#e0e0e0 0%,#808080 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #1e5799 0%,#e0e0e0 0%,#808080 100%); /* Opera 11.10+ */
    background: linear-gradient(left, #1e5799 0%,#e0e0e0 0%,#808080 100%); /* W3C */
}
.righttoggle
{
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left,  #1e5799 0%, #808080 0%, #e0e0e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(0%,#808080), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #1e5799 0%,#808080 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #1e5799 0%,#808080 0%,#e0e0e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #1e5799 0%,#808080 0%,#e0e0e0 100%); /* IE10+ */
    background: linear-gradient(left,  #1e5799 0%,#808080 0%,#e0e0e0 100%); /* W3C */
}
/*-----toolbar end------------------------------------------------------------*/

/*Explode Panel*/
#AutoExplodePanel {
	font-size: 12px;
	color: #333;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	background-color: #e6e6e6;
	padding: 1px;
	width: 270px;
	display: block;
	text-align: left;
	position: relative;
	margin-top: 10px;
	height: 200px;
}
.AutoExplodeTitle {
	margin-left: 5px;
}
.AutoExplodeSliderGroup {
	width: 252px;
	height: 50px;
	position: relative;
}
.AutoExplodePreviousButton {
	position: absolute;
	left: 0px;
	top: 21px;
	width: 16px;
	height: 16px;
	opacity: 1;
}
.AutoExplodeNextButton  {
	position: absolute;
	left: 237px;
	top: 21px;
	width: 16px;
	height: 16px;
	opacity: 1;
	}
.AutoExplodePreviousButton:hover{
	opacity: 0.3;	
}
.AutoExplodeNextButton:hover{
	opacity: 0.3;
}
.AutoExplodeSliderText {
	position: absolute;
	top: 0px;
	height: 16px;
	font-size: 12px;
}
.AutoExplodeSlider {
	position: absolute;
	top: 20px;
	height: 16px;
	width: 30px;
	border: 1px #999999 solid;
	cursor: w-resize;
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #cccccc 100%);
	-moz-box-shadow:0px 0px 4px #4D4D4D;
   	-webkit-box-shadow:0px 0px 4px #4D4D4D;
	box-shadow:0px 0px 4px #4D4D4D;
	background: #fcfcfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcfcfc 0%, #d2d2d2 100%);
    background: -webkit-linear-gradient(top, #fcfcfc 0%, #d2d2d2 100%);
}
.AutoExplodeSliderBackgroundLine {
	height: 2px;
	width: 210px;
	background-color: #666666;
	margin: 4px 5px 3px 5px;
}
.AutoExplodeSliderBackground {
	position: absolute;
	left: 16px;
	top: 20px;
	border: 1pt #A0A0A0 solid;
	height: 10px;
	width: 220px;
	background-color: #CCCCCC;
	margin-top: 3px;
	margin-bottom: 3px;
}

/*-----mobile capacity meter begin------------------------------------------------------*/
 #mobiledevicemeter {
     font-size:12px;
	 margin-top:0px; margin-left:0px; margin-right:0px; margin-bottom:10px;
	 background-color:#e6e6e6;
	 padding:1px;
	 width:240px;
 }
 .MeterHeader {
	 top: 5px;
	 color: #222;
	 position: absolute;    
	 text-transform: uppercase;
	 font-size: 12px;
	 width:30px; height:20px; text-align:center;
 }
 .MeterGrid {
	 position: absolute;
	 height:100%;
	 border: 1px dashed #989898;
	 margin:0px;
	 box-sizing:border-box;
 }
 
 .mobilecapacitycheckbox {
    background-color:#e6e6e6;
    vertical-align:text-bottom; 
    margin-right:5px;
 }
 
 .top-device,.middle-device,.low-device,.device {
    position: relative;
    top: 0;
    left: 0;
    height: 6px;
    background-color: #828282;
}

#devices {
	height: 225px;
	margin-top: 25px;
	overflow-x: visible;
	overflow-y: auto;
}

.devicecontainter {
    margin-left: 16px;
    width: 193px;
    text-align: left;
    margin-bottom:10px;
}

.device {
    right: 20%;
    widht: 80%;
    border: 2px solid #828282;
    margin-top:5px;
}

.top-device {
    z-index: 2;
    /* These data will be changed due to the RAM on different device */
    outline: 2px solid #00ff00;
    background-color: #00ff00;
}

.middle-device {
    z-index: 2;
    /* These data will be changed due to the RAM on different device */
    outline: 2px solid #FAC800;
    background-color: #FAC800;
}

.low-device {
    z-index: 2;
    /* These data will be changed due to the RAM on different device */
    outline: 2px solid #C00000;
    background-color: #C00000;
}
/*-----mobile capacity meter end--------------------------------------------------------*/
/*-----Annotation Panel begin---------*/
.annotationbuttonitem
{
	height:auto;
	width:auto;
	display:inline-block;
	float:left;
}
.annotationoutlinewidthitempicker
{
	clear:both;
	position:absolute;
	z-index:4444
}
.outlinewidthpickermenuitem
{	
    left: auto;
    right: auto;
    height: 32px;
    line-height: 32px;
    border-style: solid;
    border-color: #000000;
    border-left-width: 2pt;
    border-right-width: 2pt;
    background: #CFCFCF;
    border-color: #7B7B7B;
    display: block;
    text-align: center;
}
.outlinewidthpickermenuitem:hover
{
    background-color:#F0F1F2;  
    cursor: pointer;  
}
/*-----Annotation Panel end-----------*/

.errorMessageDialogCloseButton:active {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.0, #e0e0e0),
        color-stop(1.0, #c0c0c0)
    );
}

}
/*
These are the strings used for input to the CursorController. 
We can specify a custom cursor without making modifications in the CursorController,
look at Autodesk.CursorControllerManager.
*/
/*-------------------------overwrite cursor used in hickory begins------------*/
.cursor-busy {cursor: wait;}
.cursor-default {cursor: default;}
.cursor-progress {cursor: progress;}
.cursor-zoom {cursor: url(sprites/zoom-32x32-activecursor.png), auto;  }
.cursor-pan {cursor: url(sprites/pan-32x32-activecursor.png), auto;  }
.cursor-orbit {cursor: url(sprites/orbit-32x32-activecursor.png), auto;  }
.cursor-fit {cursor: url(sprites/fit-32x32-activecursor.png), auto; }
.cursor-handlehover {cursor: url(sprites/handle-hover.png), auto; }
.cursor-handlegrab {cursor: url(sprites/handle-grab.png), auto; }
.cursor-solid-cross {cursor: url(sprites/cross-32x32-activecursor.png), auto; }
/*-------------------------overwrite cursor used in hickory ends------------*/

#move_panel_contents {
	margin: 5px;
}

/*-----general ui begin-------------------------------------------------------*/
.disabledstate {
    -webkit-filter: brightness(0.4) grayscale(1);
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
}
.disabledmenuitem {
    opacity: 0.4;
    pointer-events: none;
}

input[type=checkbox] {
	display: inline-block;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0 0.25em .5em 0;
	padding: 0;
	width: 1.15em;
	height: 1.15em;
	-webkit-border-radius: 0.25em;
	vertical-align: text-top;
	-webkit-appearance: none;
	
	border: 1px solid #555;
    padding: 0.5em;
    font-size: 14px;
    line-height: 1.5em;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.15em;
}

input[type=checkbox]:checked {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAEkSURBVDhPjZIxj4JAEIX5TXKJIEI8ocHEitKCMyFeSyjoab14oaCzoaDxH1AZC1poSCjQAA3wM97dYtzLJhdly5n59r28GY4b+Zqmgeu64N94TPgJRmIcF0URZtJsgEaDWZZRJQIt3hevFa/XK7bbD6pEwK/9/jnYdR2CIIAgChS0LAt1Xd/BOI7heR5utxvzU57n0DSNQqqqgtgeoNPpBFEUh6Zt2yiKYmiQFHefOwpNhSl830fbtnfQNE3GPxlO0xTfhwNTJxbLsvxzRKRlWWaGdF2HJEm0Np/PqRNmf0mSwDAMJvLHvsjuwjD8P8W+73E+n7FerxllciWO46CqqufxE9uKolB4qS5xuVxeL5v4J7Y3mw1WqxWOx+M4aPTh/g7+AC9I2nrJ3N39AAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 10px 10px;
	/*shrink high resolution background */
}

input[type=checkbox]:disabled {
	opacity: 0.4;
}

input[type=radio] {
	display: inline-block;
	font-size: 14px;
	line-height: 1.5em;
	margin: 0 0.25em .5em 0;
	padding: 0;
	width: 1.15em;
	height: 1.15em;
	-webkit-border-radius: 0.625em;
	vertical-align: text-top;
	
	border: 1px solid #555;
    padding: 0.5em;
    font-size: 14px;
    line-height: 1.5em;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
}

input[type=radio]:checked {
	background-image:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAA9SURBVChTY2AgB8yZM+e/qqoqGIPYWM2AKUCnURQjm4SuEMVkXKbBxOGmEq2QaKtBRhPlGZgbiAoeQuEOAEA+VYHa1G+wAAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: 10px 10px;
	/*shrink high resolution background */
}

input[type=radio]:disabled {
	opacity: 0.4;
}

.generalimagebutton {
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-filter: blur(0px) grayscale(0);
    background-position:center center;
    display: inline-block;
    opacity:1;
    box-sizing:border-box;
}
.generalimagebutton:hover {
    -webkit-filter: blur(0px) grayscale(0);
    border:2px outset #e8e8e8;
    border-top:2px solid #fff;
    border-left:2px solid #fff;
    top: -2px;
    left: -2px;
    opacity:1;
}
.generalimagebutton:active {
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-filter: blur(0px) grayscale(0);
    background-position:center center;
    display: inline-block;
    opacity:1;
    box-sizing:border-box;
    border-radius:2px;
    border:2px inset #e8e8e8;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    background-color:#d6d6d6;
    top: -2px;
    left: -2px;
}
.generalimagebutton_active {
    position: relative;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-filter: blur(0px) grayscale(0);
    background-position:center center;
    display: inline-block;
    opacity:1;
    box-sizing:border-box;
    border-radius:2px;
    border:2px inset #e8e8e8;
    border-bottom:2px solid #fff;
    border-right:2px solid #fff;
    background-color:#d6d6d6;
    top: -2px;
    left: -2px;
}

.generalimagebutton_disable {
    -webkit-filter: blur(0px) grayscale(1);
    cursor: default;
    pointer-events: none;
}
/*-----general ui end---------------------------------------------------------*/
.numericbuttonup {
	position:absolute;
	cursor:pointer;
	display:block; 
	width:22px; 
	height:13px; 
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAYAAAB/Ca1DAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAABUSURBVDhPY/hPRRAaGvqfAWTevXv3qILhBl65cOI/pbihoeH/wBrIwMCA1xckuRBkGAzjChqiDUQ2DJ+hRBtIbGTR1kCQ6dTA4GTj4ODwn1oYZCAAhNqm4A+8aggAAAAASUVORK5CYII=");
	background-repeat: no-repeat;
    background-position: center center;
}
.numericbuttondown {
	position:absolute;
	cursor:pointer;
	display:block; 
	width:22px; 
	height:13px; 
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAALCAYAAAB/Ca1DAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAABXSURBVDhPY/hPRRAaGvqfAWTevXv3qILhBl65cOI/pbihoeH/MDGQgYHhPzrGFjwkeRnZQFxhTZKBIENAhuKLOJINJJQKUAwEcaiBwcnGwcHhP7UwyEAASRWm4C7c0PgAAAAASUVORK5CYII=");
	background-repeat: no-repeat;
    background-position: center center;
}
.numerictextbox {
	position:absolute;
	width:60px;
	background-color:transparent;
}
.angledegreelabel {
	top: 275px; 
	left: 72px;
	position: absolute;
	font-size: 14px;
}
