


#PanelFilecommand {

width: 280px;
height: 62px;
background:rgba(179, 189, 171, 0.3);
margin-left:45%;

}

.fancybox-button {
	width: 48px;
	height: 48px;
	cursor: pointer;
	line-height: 15px;
	opacity: 0.1;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
	border:solid;
    float:left;
} 

#mainbtn {
float:left;
}

.fancybox-button:hover
{opacity: 0.8;}

.fancybox-button:visited
{opacity: 0.8;}

 
