
#PanelFilecommand {
position:absolute;
width: 280px;
height: 62px;
background:rgba(179, 189, 171, 0.3);
margin-left:45%;
}

.fancybox-button {
	width: 48px;
	height: 48px;
	cursor: pointer;
	line-height: 15px;
	opacity: 0.1;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
	border:solid;
    float:left;
} 
.iframeimage {
	width: 22px;
	height: 25px;
	cursor: pointer;
	line-height: 15px;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
    float:left;
	background-image: url('../images/is.png');
	background-position: 0 -2390px!important;
} 

.sharetosina {
	width: 22px;
	height: 25px;
	cursor: pointer;
	line-height: 15px;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
    float:left;
	background-image: url('../images/is.png');
	background-position: 0 -115px!important;
	background-position: 0 -115px!important;

} 

.sharetoqq {
	width: 22px;
	height: 25px;
	cursor: pointer;
	line-height: 15px;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
    float:left;
	background-image: url('../images/is.png');
	background-position: 0 -235px!important;
} 

.sharetotwitter {
	width: 22px;
	height: 25px;
	cursor: pointer;
	line-height: 15px;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
    float:left;
	background-image: url('../images/is.png');
	background-position: 0 -1115px!important;
} 
.sharetofb {
	width: 22px;
	height: 25px;
	cursor: pointer;
	line-height: 15px;
	margin-left:1px; 
	margin-right:1px; 
	margin-top:5px;
	margin-bottom:5px;
    float:left;
	background-image: url('../images/is.png');
	background-position: 0 -1155px!important;
} 
#mainbtn {
float:left;
}

.fancybox-button:hover
{opacity: 0.8;}

.fancybox-button:visited
{opacity: 0.8;}
