
.img-PUB360-New-24x24 { background-image: url('../images/import.png'); width: 48px; height: 48px; background-position: 0px 0px; display: inline-block; }
.img-PUB360-Open-24x24 { background-image: url('../images/export.png'); width: 48px; height: 48px; background-position: 0px 0px; display: inline-block; }
.img-PUB360-Share-24x24 { background-image: url('../images/share.png'); width: 48px; height: 48px; background-position: 0px 0px; display: inline-block; }
.img-PUB360-Translate-24x24 { background-image: url('../images/translate.png'); width: 48px; height: 48px; background-position: 0px 0px; display: inline-block; }
.img-PUB360-Sample-24x24 { background-image: url('../images/samples.png'); width: 48px; height: 48px; background-position: 0px 0px; display: inline-block; }
