<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<meta property="wb:webmaster" content="78fad0a4ab10eb44" />
    <title>Data translation for 3D CAD files</title>
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/tr.css">
	<link rel="stylesheet" href="stylesheets/sprites.css" />
    <link rel="stylesheet" href="stylesheets/HomePage.css" />
	<link rel="stylesheet" href="stylesheets/ribbon.css" />
	<link rel="stylesheet" href="stylesheets/progressbar.css" />
  </head>
  <body style="overflow:hidden; height:100%;">
  
    <div id ="PanelFilecommand">
		<div id = "fancybox-new-border" class="fancybox-border">
			<ul id ="toolbar">
				<li id = "mainbtn">
					<a id="fancybox-new" class="img-PUB360-New-24x24 fancybox-button" title="Import Files" ></a>
				</li>
				<li id = "mainbtn">
					<a id="fancybox-open" class="img-PUB360-Open-24x24 fancybox-button" title="Export Files"></a>
				</li>
				<li id = "mainbtn">
					<a id="fancybox-share" class="img-PUB360-Share-24x24 fancybox-button" title="Share" ></a>
				</li>
				<li id = "mainbtn">
					<a id="fancybox-translate" class="img-PUB360-Translate-24x24 fancybox-button" title="Translate" ></a>
				</li>
				<li id = "mainbtn">
					<a id="fancybox-sample" class="img-PUB360-Sample-24x24 fancybox-button" title="Samples" ></a>
				</li>				
			</ul>
		</div>
	</div>	
  
  <%if (model_id) { %>
		<div id = "sharebtns" class ="bsharecustom">
		   <span style="font-weight:bold;vertical-align:middle;cursor:pointer;" onclick="javascript:bShare.more(event);return false;">Share to：</span>

		   <a title="iFrame Code" id="iframebtn" style="cursor:pointer;color:#2e3192;">
		   <img id = "iframe" class ="share" src="images/iframe.png" style="height:32px; width:32px; vertical-align:middle;"/>
		   </a>
	
		   <a title="分享到新浪微博" style="cursor:pointer;color:#2e3192;">
		   <img id = "sina" class = "share" src="http://static.bshare.cn/frame/images/logos/s4/sinaminiblog.gif" style="height:32px; width:32px; vertical-align:middle;"/>
		   </a>
		   
		   	<a title="分享到腾讯微博" style="cursor:pointer;color:#2e3192;">
		   <img id ="qq" class = "share" src="http://static.bshare.cn/frame/images/logos/s4/qqmb.gif" style="height:32px; width:32px; vertical-align:middle;"/>
		   </a>
		   
		   <a title="Share to Twitter" style="cursor:pointer;color:#2e3192;">
		   <img id = "twitter" class = "share" src="http://static.bshare.cn/frame/images/logos/s4/twitter.gif" style="height:32px; width:32px; vertical-align:middle;"/>
		   </a>
		   
		   <a title="Share to Facebook" style="cursor:pointer;color:#2e3192;">
		   <img  id = "fb" class = "share" src="http://static.bshare.cn/frame/images/logos/s4/facebook.gif" style="height:32px; width:32px; vertical-align:middle;"/>
		   </a>

		   <a title="More..."  style="cursor:pointer;color:#000;"/>
		   <img  id="more" class = "share" src="http://static.bshare.cn/frame/images/logos/s4/more.gif" style="height:32px; width:32px; vertical-align:middle;"/>
		   </a>
		</div>
  <% } %>
  
  <iframe src="tr.html" frameborder="0px" width="100%" height ="100%"> </iframe>

	<script type="text/javascript" >
		
		function getAction(){ 
 			// The schema of the amessage is like 
 			// {&quot;handler&quot;:&quot;translator&quot;,&quot;action&quot;:&quot;openFileDialog&quot;,&quot;data&quot;:{&quot;id&quot;:&quot;hello&quot;}}
 			// We need to ass the quotes limiter and replace &quot; with double quotes.
 			var astringHTML = "<%=amessage%>";
 			var astring=astringHTML.split('&quot;').join('"'); 
 			return astring;
		}
		
		function getModelId() {
			var id = "<%=model_id%>";
			return id;		
		}
		function getModelType() {
			var id = "<%=model_type%>";
			return id;		
		}
	</script>
	
  </body>
<html>
  